.context-menu {
    visibility: hidden;
    opacity: 0;
    background-color: antiquewhite;
    position: fixed;
    z-index: 5;
    color: black;
    border-radius: 5px;
    border: 1px solid rgb(172, 188, 197);
    font-size: 0.875rem;
    max-width: 250px;
    box-shadow: 1px 1px 5px rgb(0, 0, 0.4);
}

.context-menu.active {
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction: column;
}

.context-menu button {
    width: 100%;
    background-color: transparent;
    border: 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 5px 8px;
    cursor: pointer;
    color: black;
}

.context-menu button:hover {
    background-color: rgb(9, 110, 77);
    color: white;
}

.context-menu hr {
    border: 0;
    border-bottom: 1px solid rgb(151, 122, 83);
    background-color: transparent;
    margin: 5px 0;
}

.context-menu .icon {
    opacity: 1;
    text-shadow: 1px 1px 1px black;
}