@import "tailwindcss";

#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: auto;
}

body {
  display: block;
  font-family: Georgia, serif;
  line-height: 1.6;
  margin: 0;
}

.buttonloader {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  justify-self: center;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loaderbody {
  position: fixed;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loader {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top-color: #3498db;
  /* Color of the spinner */
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.footer-login-page {
  height: 60px;
  width: 100%;
  min-height: 60px;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  position: static;
  bottom: 0px;
}

.footer-login-page ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-login-page li {
  display: inline-block;
}

.footer-login-page li a {
  padding: 6px;
  font-size: 14px;
  text-decoration: none;
  color: #c3c3c3;
}

.footer-login-page li a:hover {
  color: white;
}

.footer-login-page p {
  padding: 6px;
  margin: 0;
}

.containerStyle {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(90deg, #be927f 6%, rgba(0, 0, 0, 0) 100%);
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto auto;
  /* row-gap: ; */
  width: 100vw;
  padding: 40px;
  box-sizing: border-box;
}

@keyframes textappear {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }

}

.textStyle {
  text-align: left;
  color: #3f2b27;
  margin: 69px 0 0 0px;
  font-size: 23px;
  font-weight: 600;
  line-height: 2;
  font-family: Georgia, serif;
  opacity: 1;
  animation-name: textappear;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
}

.imageContainerStyle {
  justify-content: center;
  align-items: center;
}

.textStyle2 {
  grid-column: 1 / span 2;
  color: #3f2b27;
  font-weight: 600;
  font-size: 23px;
  text-align: justify;
  border-bottom: 4px solid #754730;
  border-radius: 15px;
  border-left: 2px solid #754730;
  border-right: 2px solid #754730;
  font-family: Georgia, serif;
  padding: 20px;
  line-height: 2;
}

.footer-cover-page {
  grid-column: 1 / span 2 !important;
  position: static !important
}

.imageContainerStyle img {
  min-width: 100%;
  min-height: 100%;
  grid-column: 2 / 2;
  max-width: 100%;
}

.adi {
  animation-name: bounce;
  animation-duration: 0.50s;
  animation-timing-function: ease-in-out;
}

@keyframes bounce {
  0% {
    scale: 0;
  }

  50% {
    scale: 0.4;
    /* Scale up to 120% */
  }

  100% {
    scale: 1;
    /* Return to original position */
  }
}

.contribution {
  grid-column: 1 / span 2;
  max-width: 100%;
  display: grid;
  grid-template-columns: 70% 30%;
}

.imageAnim {
  animation: imageAnim 1s linear forwards;
  animation-timeline: view();
  animation-range: entry 20% cover 50%;
}

.tech {
  font-weight: bolder;
}

.get_query_button {
  position: fixed;
  right: 0px;
  width: 0px;
  overflow: hidden;
  transition: width 1s ease;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #e7dbd6;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.1);
  opacity: 0.9;
  font-size: 20px;
  font-weight: bolder;
  pointer-events: none;
}

.get_query_button.open {
  width: 200px;
  margin: 2rem 0 0 1rem;
  padding-left: 1rem;
  padding-right: 3rem;
  border-left: 2px solid #754730;
  pointer-events: auto;
}

@keyframes imageAnim {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.listStyle span {
  align-items: center;
  justify-content: center;
  color: #000000;
}

.tech_box {
  padding: 2rem;
  border-radius: 1rem;
  grid-column: 1 / span 2;
  max-width: 100%;
}

.project-tile-wrapper {
  margin-top: -1rem;
  grid-column: 1 / span 2;
  width: 100%;
  display: flex;
  gap: 2rem;
}

.final-thoughts {
  grid-column: span 2;
  padding: 1.5rem;
  border-radius: 16px;
  box-shadow: 2px 2px 2px #754730;
  font-weight: 500;
  color: #2c1f1b;
  margin-top: 1rem;
  text-align: center;
  transition: scale 0.3s ease;
  border-right: 5px solid #754730;
  border-left: 5px solid #754730;
  /* border-top: 2px solid #754730; */
}

.final-thoughts:hover {
  scale: 1.02;
  box-shadow: 12px 12px 30px #754730;
  transition: box-shadow 0.23s ease, scale 0.23s ease;
}

.titleStyle {
  grid-column: 1 / span 2;
  color: #3f2b27;
  font-weight: 800;
  font-size: 45px;
  margin: 80px 0 0 0;
  text-align: center;
}

.listStyle {
  grid-column: 1 / span 2;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: grid;
  text-align: left;
}

.listStyle li {
  gap: 0px;
  grid-column: 1 / span 2;
  align-items: center;
  margin: 0 0 0 0;
  display: grid;
  grid-template-columns: 70% 30%;
  text-align: left;
}

.listStyle h3 {
  color: #2c1f1b;
  font-size: 30px;
  font-weight: bolder;
}

.listStyle p {
  font-size: 33px;
  font-weight: 500;
  font-family: Georgia, serif;
  line-height: 1.4;
  color: #3f2b27;
}

.listStyle i {
  font-weight: 800;
  font-size: 33px;
  font-family: Georgia, serif;
}

.listStyle img {
  /* border: 2px dotted red; */
  min-width: 100%;
  min-height: 100%;
  grid-column: 2 / 2;
  max-width: 100%;
  /* mix-blend-mode: color-burn; */
  mix-blend-mode: darken;

}

.listStyle span {
  align-items: center;
  justify-content: center;
  color: #000000;
}

.anim {
  animation: titleAnim 0.5s linear forwards;
}

@keyframes titleAnim {
  from {
    opacity: 0;
    transform: translatex(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.tech_tile_box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 3rem;
  margin-top: 2rem;
}

.tech_tile_box>div {
  background: linear-gradient(90deg, #eccc90, #ccac6c);
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2);
  transform: perspective(1000px) rotateX(3deg) rotateY(3deg);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  height: 100%;
}

.tech_tile_box>div:hover {
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale(1.03);
  box-shadow: 12px 12px 30px rgba(211, 247, 53, 0.3);
}

.tech_tile_box h2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0.75rem 0 0.5rem;
  color: #3f2b27;
}

.tech_tile_box p {
  font-size: 0.95rem;
  color: #333;
  line-height: 1.4;
}

#whatIBuild span:last-child span {
  color: #fff;
  background-color: #3f2b27;
  padding: 0.2rem 0.6rem;
  border-radius: 6px;
}

#whatIBuild {
  font-size: 3rem;
  justify-self: center;
  font-weight: 900;
  color: #3f2b27;
  display: flex;
  align-items: center;
  gap: 2rem;
  /* margin-top: 2rem; */
  margin-bottom: 2rem;
}

.project-tile {
  border-radius: 20px;
  box-shadow: 5px 8px 18px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  font-weight: 900;
  transition: all 0.3s ease-in-out;
  border-left: 5px solid #754730;
  /* border-bottom: 2px solid #754730; */

}

.project-tile2 {
  border-radius: 20px;
  box-shadow: 5px 8px 18px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  font-weight: 900;
  transition: all 0.3s ease-in-out;
  border-right: 5px solid #754730;
}

.project-tile:hover {
  transform: rotateX(10deg) rotateY(deg) scale(1.02);
  box-shadow: 8px 12px 24px rgba(214, 8, 8, 0.2);
  scale: 1.02;
}

.project-tile2:hover {
  transform: rotateX(10deg) rotateY(deg) scale(1.02);
  box-shadow: 8px 12px 24px rgba(214, 8, 8, 0.2);
  scale: 1.02;
}

.project-tile h2 {
  font-size: 1.8rem;
  color: #3f2b27;
  margin-bottom: 0.5rem;
}

.project-tile h3 {
  font-size: 1.3rem;
  color: #5c3e38;
  margin: 1rem 0 0.5rem;
}

.project-tile ul {
  list-style-type: "✅ ";
  padding-left: 1.5rem;
  margin: 0;
}

.project-tile li {
  margin-bottom: 0.5rem;
  color: #333;
}

/* Result or impact */
.project-impact {
  font-style: italic;
  margin-top: 1rem;
  color: #444;
}

@media (max-width:400px) {
  body {
    font-size: smaller;
  }

  .footer-login-page {
    display: none;
  }

  .textStyle {
    font-size: 12px;
    margin: 10px 0 0 3px;
    text-align: justify;
  }

  .textStyle2 {
    grid-column: 1 / span 2;
    font-size: 12px;
    text-align: center;
    grid-row: 1;
    text-align: justify;
    text-indent: 50px;
  }

  .containerStyle {
    display: block;
    padding: 10px 15px 0px 15px;
    margin: 0px;
  }

  .adi {
    animation-name: bounce;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
  }

  @keyframes bounce {
    0% {
      transform: translate(100px, 60px);
    }

    100% {
      transform: translate(-15px, 0px);
      /* Return to original position */
    }
  }

  .titleStyle {
    font-size: 18px;
    margin: 50px 0px 0 0;
  }

  .listStyle h3 {
    font-size: 16px;
  }

  .listStyle p {
    font-size: 13px;
  }

  .listStyle i {
    font-size: 12px;
  }

  #whatIBuild {
    font-size: 1.7rem;
    font-weight: 500;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .project-tile-wrapper {
    width: 100%;
    display: block;
  }

  .final-thoughts {
    border-right: none;
    /* border-top: 2px solid #754730; */
  }

  .project-tile {
    border-top: 5px solid #754730;
  }
}